/* Diseño General del documento */

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    padding-top: 50px;
    overflow: hidden;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-weight: bold;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

/* Clases */

.thumbnail {
    background: rgba(255, 255, 255, 0.7);
}

.panel {
    width: 100%;
    height: 590px;
    z-index: 0;
    padding-top: 25px;
    padding-bottom: 25px;

    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Elementos individuales */
.container > article {
    background: rgba(255, 255, 255, 0.7);
    float: right;
}

.caption {
    text-align: center;
}
.caption > p {
    font-size: 0.6em;
    text-align: center;
}

#perso-info {
    background:
    radial-gradient(#033E6B 15%, transparent 16%) 0 0,
    radial-gradient(#033E6B 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#0B61A4;
    background-size:16px 16px;
}

/* Transiciones */
a[ id="perso-info" ]:target ~ #main-section article.panel {
    -webkit-transform: translateY( 50px );
    transform: translateY( 50px );
}

a[ id="seccion2" ]:target ~ #main-section article.panel {
    -webkit-transform: translateY( -550px );
    transform: translateY( -550px );
}